body{
    background-image: url(../Assets/top-view-camera-surrounded-by-pictures.jpg);
    background-size: 100%;
    overflow: auto;
    background-attachment: fixed;
}
.cell img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border: solid 2px rgb(54, 54, 54);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.459);
    margin: 10px;
}
.cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: rgb(165, 165, 165);
    width: 900px;
    height: 550px;
    border-radius: 20px;
    border: solid 2px rgba(54, 54, 54, 0.219);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.459);
    margin: 30px auto;
}
.cell p{
    width: 600px;
    font-size: 18px;
    text-align: justify;
    margin: 30px;
}